* {
  font-family: 'Lato', sans-serif;
}

body {
  background: #bdc3c7; 
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  
  background: linear-gradient(to right, #2c3e50, #bdc3c7); 


}

.conversor {
  margin: 0.6rem auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}


.conversorA {
  margin: 0.5rem auto;
  border: 2px solid rgb(104, 96, 96);
  width: 18rem;
  height: 16.5rem;
  padding: 2rem;
  background: #aa4b6b;  
  background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  
  background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); 
  border-radius: 8px;
  overflow: hidden;

}

.conversorB {
  margin: 0.5rem auto;
  border: 2px solid rgb(104, 96, 96);
  width: 18rem;
  height: 16.5rem;
  padding: 2rem;
  background: #dd3e54; 
  background: -webkit-linear-gradient(to right, #6be585, #dd3e54);  
  background: linear-gradient(to right, #6be585, #dd3e54);
  border-radius: 8px;

}

.conversorC {
  margin: 0.5rem auto;
  border: 2px solid rgb(104, 96, 96);
  width: 18rem;
  height: 16.5rem;
  padding: 2rem;
  background: #1f4037; 
  background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);
  background: linear-gradient(to right, #99f2c8, #1f4037);
  border-radius: 8px;

}

.conversorD {
  margin: 0.5rem auto;
  border: 2px solid rgb(104, 96, 96);
  width: 18rem;
  height: 16.5rem;
  padding: 2rem;
  background: #544a7d;
  background: -webkit-linear-gradient(to right, #ffd452, #544a7d);
  background: linear-gradient(to right, #ffd452, #544a7d); 
  border-radius: 8px;

}

.conversorE {
  margin: 0.5rem auto;
  border: 2px solid rgb(104, 96, 96);
  width: 18rem;
  height: 16.5rem;
  padding: 2rem;
  background: #00F260; 
  background: -webkit-linear-gradient(to right, #0575E6, #00F260);
  background: linear-gradient(to right, #0575E6, #00F260); 
  border-radius: 8px;

}

.conversorF {
  margin: 0.5rem auto;
  border: 2px solid rgb(104, 96, 96);
  width: 18rem;
  height: 16.5rem;
  padding: 2rem;
  background: #e1eec3;
  background: -webkit-linear-gradient(to right, #f05053, #e1eec3); 
  background: linear-gradient(to right, #f05053, #e1eec3);

  border-radius: 8px;

}

.conversor-moedas {
  padding: 1rem;
  color: seashell;
}

.conversor-moedas-button {
  height: 34px;
  width: 100px;
  margin: 1rem;
  border: none;
  background-color: #0095f6;
  color: seashell;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

.conversor-moedas-input {
  height: 34px;
  width: 200px;
  font-size: 16px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
  outline: none;
}

.conversor-titulo {
  text-align: center;
  border: 2px solid rgba(54, 65, 54, 0.3);
  width: 25rem;
  margin: auto;
  padding: 1rem;
  background: #0f0c29;  
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
  color: white;
  border-radius: 0.5rem;

}

.conversor-moedas-button:hover {
  background-color: rgb(69, 117, 172);
  transition: 0.5s;
}

.footer {
  text-align: center;
  color: seashell;
}


.footer-cotacao {
  text-align: center;
  color: seashell;
  border: 1px solid #ccc;
  width: 15rem;
  padding: 0.5rem;
  margin: 1rem auto;
  box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.6);
}


@media screen and (min-width: 300px) and (max-width: 768px) {
  .conversor {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3rem;
    width: 22rem;
  }

  .footer, .footer-cotacao {
    margin-left: 5rem;
  }

} 